#button_state0 {
  background-image: none;
  background-color: #F0F8FF;
}
#button_state1 {
  background-image: none;
  background-color: #00FFFF;
}
#button_state2 {
  background-image: none;
  background-color: #0000FF;
}
#button_state3 {
  background-image: none;
  background-color: #5F9EA0;
}
#button_state4 {
  background-image: none;
  background-color: #7FFF00;
}
#button_state5 {
  background-image: none;
  background-color: #A52A2A;
}
#button_state6 {
  background-image: none;
  background-color: #DC143C;
}
#button_state7 {
  background-image: none;
  background-color: #B8860B;
}


/* can also be done via names instead of hex-color scheme */
/*
#button_state0 {
  background-image: none;
	background-color: grey;
}
#button_state1 {
  background-image: none;
	background-color: yellow;
}
#button_state2 {
  background-image: none;
	background-color: orange;
}
#button_state3 {
  background-image: none;
	background-color: red;
}
#button_state4 {
  background-image: none;
  background-color: green;
}
#button_state5 {
  background-image: none;
  background-color: purple;
}
#button_state6 {
  background-image: none;
  background-color: blue;
}
#button_state7 {
  background-image: none;
  background-color: black;
}
*/
