#button_state0 {
  background-image: none;
  background-color: #8ae234;
}
#button_state1 {
  background-image: none;
  background-color: #729fcf;
}
#button_state2 {
  background-image: none;
  background-color: #ad7fa8;
}
#button_state3 {
  background-image: none;
  background-color: #e9b96e;
}

/* can also be done via names instead of hex-color scheme
#button2_state0 {
  background-image: none;
	background-color: red;
}

#button2_state1 {
  background-image: none;
	background-color: green;
}
#button2_state2 {
  background-image: none;
	background-color: blue;
}
#button2_state3 {
  background-image: none;
	background-color: grey;
}
*/
